*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
p,
h2,
details,
summary {
  overflow-wrap: break-word;
  font-family: 'Kumbh Sans', sans-serif;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution > a {
  text-decoration: none;
  color: #3e52a3;
}
