// global variables
// font sizes
xl__text = 2rem
lg__text = 0.875rem
md__text = 0.813rem
sm__text = 0.75rem

// spacing
desktop_lg__space = 5.938rem
desktop_md__space = 4.063rem
desktop_sm__space = 2.625rem

mobile_lg__space = 3rem
mobile_md__space = 2.375rem
mobile_sm__space = 1.5rem

faq__item_pb = 1rem
faq__answer_mt = 0.688rem

// colors
text__color_dark__blue = hsl(238, 29%, 16%)
text__color_red = hsl(14, 88%, 65%)
text__color_gray = hsl(240, 6%, 50%)
text__color_dark__gray = hsl(237, 12%, 33%)

dividers__color_light__gray = hsl(240, 5%, 91%)

bg__gradient = linear-gradient(180deg, hsl(273, 75%, 66%) 0%, hsl(240, 73%, 65%) 100%)

// misc
border__radius = 1.438rem
shadow__color = rgba(53, 18, 122, 0.497159)

// global reset
*
*::before
*::after
  box-sizing border-box

*
  margin 0

html
body
  height 100%

body
  line-height 1.5
  -webkit-font-smoothing antialiased

p
h2
details
summary
  overflow-wrap break-word
  font-family 'Kumbh Sans', sans-serif

// styles
body
  min-height 100vh
  display grid
  justify-content center
  align-content center
  background-image bg__gradient

#faq_card
  background-color white

.faq__item
  cursor pointer

// typography
summary
details
  list-style none

.content__title
  color text__color_dark__blue
  font-size xl__text
  text-align center
  font-weight 700
  margin-bottom mobile_lg__space

.faq__item[open] .faq__question
  font-weight 700

.faq__question
  color text__color_dark__gray
  font-size md__text
  &:hover
    color text__color_red

.faq__answer
  color text__color_gray
  font-size sm__text

.attribution
  font-size 11px
  text-align center
  > a
    text-decoration none
    color text__color_dark__blue
    &:hover
      color text__color_red

// layout
#faq_card
  display flex
  flex-direction column
  align-items center
  justify-content center
  height 100%
  position relative
  border-radius border__radius
  box-shadow 0 50px 50px -20px shadow__color
  > *
    width 100%

// TODO add card image styles here

#card__content
  width 320px
  padding 0 mobile_sm__space mobile_md__space mobile_sm__space

.faq__item
  padding faq__item_pb 0
  border-bottom 1px solid dividers__color_light__gray

.faq__question
  position relative
  &::before
    content ""
    position absolute
    top 30%
    right 0
    background-image url('../images/icon-arrow-down.svg')
    width 0.8rem
    height 0.6rem
    background-repeat no-repeat

.faq__item[open] .faq__question
  margin-bottom faq__answer_mt
  &::before
    transform rotate(180deg)

footer
  position absolute
  bottom -0
  width 100%
  padding-bottom 1rem
  color white

// media queries

