// global variables
// font sizes
xl__text = 2rem
lg__text = 0.875rem
md__text = 0.813rem
sm__text = 0.75rem

// spacing
desktop_lg__space = 5.938rem
desktop_md__space = 4.063rem
desktop_sm__space = 2.625rem

mobile_lg__space = 3rem
mobile_md__space = 2.375rem
mobile_sm__space = 1.5rem

faq__item_pb = 1rem
faq__answer_mt = 0.688rem

// colors
text__color_dark__blue = hsl(238, 29%, 16%)
text__color_red = hsl(14, 88%, 65%)
text__color_gray = hsl(240, 6%, 50%)
text__color_dark__gray = hsl(237, 12%, 33%)

dividers__color_light__gray = hsl(240, 5%, 91%)

bg__gradient = linear-gradient(180deg, hsl(273, 75%, 66%) 0%, hsl(240, 73%, 65%) 100%)

// misc
border__radius = 1.438rem
shadow__color = rgba(53, 18, 122, 0.497159)

// global reset
*
*::before
*::after
  box-sizing border-box

*
  margin 0

html
body
  height 100%

body
  line-height 1.5
  -webkit-font-smoothing antialiased

p
h2
details
summary
  overflow-wrap break-word
  font-family 'Kumbh Sans', sans-serif

// styles

.attribution
  font-size 11px
  text-align center
  > a
    text-decoration none
    color hsl(228, 45%, 44%)

// media queries

